<div class="col-md-12">

    <h4 class="mb-4">복리로 받게될 예상 <u>ADA</u> 보상 수량</h4>

    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" >
            <b>연차</b>
        </div>

        <div class="form-group col-xs-4">
            <b>원금+보상</b>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <b>보상 수량</b>
        </div>

    </div>
    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" >
            <b>1년:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resul1Year"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="diff1Yada" class="result-ctx"></span>
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" >
            <b>2년:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resul2Year"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="diff2Yada" class="result-ctx"></span>
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" >
            <b>3년:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resul3Year"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="diff3Yada" class="result-ctx"></span>
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" >
            <b>4년:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resul4Year"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="diff4Yada" class="result-ctx"></span>
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" >
            <b>5년:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resul5Year"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="diff5Yada" class="result-ctx"></span>
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" >
            <b>6년:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resul6Year"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="diff6Yada" class="result-ctx"></span>
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" >
            <b>7년:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resul7Year"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="diff7Yada" class="result-ctx"></span>
        </div>

    </div>

    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top">
            <b>8년:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resul8Year"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="diff8Yada" class="result-ctx"></span>
        </div>

    </div>


    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" >
            <b>9년:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resul9Year"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="diff9Yada" class="result-ctx"></span>
        </div>

    </div>


    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" >
            <b>10년:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resul10Year"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="diff10Yada" class="result-ctx"></span>
        </div>

    </div>


    <div class="form-row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>연차</th>
            <th>보상수량</th>
            <th>원금+보상</th>
          </tr>
 </thead>
 <tbody>
    <tr>
       <td>1년</td>
       <td>
         <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
           <span id="diff1Yada" class="result-ctx"></span>
           </span>
         </div>
       </td>
       <td>
           <div class="form-group col-xs-4">
             <span id="resul10Year"></span>
          </div>
       </td>
    </tr>
    <tr>
       <td>Mary</td>
       <td>Moe</td>
       <td>mary@example.com</td>
    </tr>
    <tr>
       <td>July</td>
       <td>Dooley</td>
       <td>july@example.com</td>
    </tr>
  </tbody>
      </table>

    </div>

    <!--
    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" title="How much APPROXIMATE profit a person will receive ON AVERAGE if they stake for the whole year
                                                            IF all the parameters are ON AVERAGE the same as you have selected above.">
            <b>During this year:</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resultThisYear"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="ctx_resultThisYear" class="result-ctx"></span>
        </div>

    </div>
    -->
    <!--
    <div class="form-row">

        <div class="form-group col-xs-3" data-toggle="tooltip" data-placement="top" title="How much profit a person will have at the end of this (selected) year
                                                            IF they've staked for ALL previous years AND if actual system behaviour are somewhat
                                                            similar to all the selected parameters.">
            <b>At the end of the year</b>
        </div>

        <div class="form-group col-xs-4">
            <span id="resultAtYearEnd"></span>
        </div>

        <div class="form-group col-xs-5 text-md-left" data-toggle="tooltip">
            <span id="ctx_resultAtYearEnd" class="result-ctx"></span>
        </div>

    </div>
  -->
    {{> calc-alert}}

</div>
