<div class="row">

    <div class="col-md-6">

        <p class="mb-3" style="color: grey; font-size: 0.8em">
          * 정해진 보상률을 5일 단위로 적용하여 </br>계산한 단순복리 계산결과이므로 실제 보상수량과는 차이가 있습니다.<br>
          ** 스테이킹(위임) 평균 보상률은 5%에 수렴하도록 설계되어 있습니다.
        </p>

        <!--<h3>Define parameters:</h3>-->

    </div>

    <div class="col-md-6">

    </div>

</div>
