<div class="alert alert-secondary my-5" role="alert">
    <p>
        <strong>DELTA 풀에 위임하세요.</strong> 한국인이 운영하고 <b>365일</b> 관리되고 있습니다.
    </p>
    <p>
        <b>네이버 까페</b> <b>카카오 채팅방</b>을 운영하고 있습니다. 궁금한 점이 있다면 언제든지 방문하세요. :)
    </p>
    <p>
        Tiker : <b>DELTA</b> </br>
        Pool ID: <b>a49bc4fe3dbde289bc359a4aa09a40bc140daace4e95abb7a6b2e652</b></br>
        Website:<b> https://adadeltapool.com</b> </br>
    </p>
</div>
