<div class="alert alert-secondary my-5" role="alert">
    <p  style="color: black; font-size: 1.2em">
        <strong>DELTA 풀에 위임하세요.</strong> 한국인이 운영하고 <b>365일</b> 관리되고 있습니다.
    </p>
    <p style="color: black; font-size: 1.2em">
        <b><a target="_blank" href="https://cafe.naver.com/deltapool">네이버 까페</a></b> 와 <b><a target="_blank" href="https://open.kakao.com/o/gmtmCXyd">카카오 채팅방</a></b>을 운영하고 있습니다. 궁금한 점이 있다면 언제든지 방문하세요. :)
    </p>
    <p style="color: black; font-size: 1.2em">
        Tiker : <b>DELTA</b> </br>

        다이달로스 지갑(데스크) 만드는 방법 : <a target="_blank" href="https://cafe.naver.com/deltapool/11"> </a></br>
        다이달로스 위임하는 방법 : <a target="_blank" href="https://cafe.naver.com/deltapool/12"> </a></br>
        요로이(모바일)  지갑 만드는 방법 : <a target="_blank" href="https://cafe.naver.com/deltapool/4"> </a></br>
        요로이(모바일)  위임하는 방법 : <a target="_blank" href="https://cafe.naver.com/deltapool/8"> </a></br></br>

        <iframe style="width:100%;height:50px" frameborder="0" scrolling="no" src="https://js.adapools.org/widget-wide.html?pool=a49bc4fe3dbde289bc359a4aa09a40bc140daace4e95abb7a6b2e652"><a href="https://adapools.org/">ADApools - Cardano staking pools</a></iframe>
    </p>
</div>
